/* Color variables --------------------- */

//COLOR PALETTE
$bee_yellow: #FDC612;

$green: #70B927;
$red: #E74C3C;
$blue: #00BADB;
$pink: #FF0068;
$white: #FFF;
$charcoal: #2b2b2b;
$light_gray: #f8f8f8;
$gray: #DDDDDD;

$charcoal-60: rgba($charcoal, 0.6);
$charcoal-30: rgba($charcoal, 0.3);

$color-primary: $bee_yellow;
$color-neon: $pink;
